.modal-title {
    margin: 2vh 0 2vh 0;
}
.modal-title > p:nth-of-type(1) {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.modal-title > p:nth-of-type(2) {
    font-size: 14px;
    color: gray;
}
.calenderStart {
    width: 50%;
}
.calenderEnd {
    margin-left: 7%;
    width: 50%;
}
.modal-body {
    display: flex;
    padding-top: 3vh;
    width: 100%;
}
.modalBody {
    width: 100%;
}
.modalBody.header {
    justify-content: space-between;
    display: flex;
}
.modalBody.header > p {
    font-size: 20px;
    font-weight: bold;
}
.modalBody.header > div {
    width: 10%;
}
.table.title > td{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    padding: 0 10px 0 10px;
}
.calender.table {
    width: 100%;
    height: 20vh;
    overflow: visible;
    display: flex;
    margin: 1vh 0 2vh 0;
}
.calender.table > tbody {
    width: 100%;
    height: 100%;
}
.calender.table > tbody > .rows {
    width: 100%;

}
.calender.table > tbody > .rows > .td {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    padding: 0 10px 0 10px;
}
.calender.table > tbody > .rows > .td.cannot {
    color: rgb(221, 221, 221);
    padding-bottom: 2px;
    text-decoration:line-through
}
.headerBtn {
    width: 0.7em !important;
    height: 0.7em !important;
}
.headerBtn.before {
    margin-left: 16px;
}
.headerBtn.before.cannot {
    margin-left: 16px;
    color: rgb(221, 221, 221);
}
.headerBtn.next {
    margin-right: 16px;
    transform: rotate(180deg);
}